body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

select {
  padding: 8px;
  font-size: 16px;
}

ul {
  margin-top: 10px;
}
.gambar {
  width: 150px;
  margin: 10px;
  border-radius: 10px;
}
